<h1>Hello World!!</h1>
<%= Time.now %>

<p>
	<h3>These are the sysadmins:</h3>
	<ul>
<% @sysadmin_names.each do |name| %>
		<li><%= name %></li>
<% end %>
	</ul>
<br/>
Welcome message: 
<%= @from_user %>